<!doctype html>

<html>
	<head>
    <title>CNN News Feeds</title>
  <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/826/826328.png" type="image/gif">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
	<body>
	<header class="container-fluid logoBG">
      <a href="/" ><img class="logo" src="news-logo.png"></a>
      <input id="search-input-small-screen" class="form-control" type="text" placeholder="Search" name="search" autocomplete="off">
    </header>

   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                 <li class="nav-item"><a class="nav-link" href="/">Top Stories</a></li>
                 <li class="nav-item"><a class="nav-link" href="/world">World</a></li>
                 <li class="nav-item"><a class="nav-link" href="/middle-east">Middle East</a></li>
                 <li class="nav-item"><a class="nav-link" href="/tech">Technology</a></li>
                 <li class="nav-item active"><a class="nav-link" href="/science-and-space">Science & Space</a></li>
                 <li class="nav-item"><a class="nav-link" href="/entertainment">Entertainment</a></li>
                 <li class="nav-item"><a class="nav-link" href="/world-sport">World Sport</a></li>
                 <li class="nav-item"><a class="nav-link" href="/travel">Travel</a></li>
                 <li class="nav-item"><a class="nav-link" href="/weather">Weather</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <form class="navbar-form navbar-right" >
              <div class="input-group">
                <input id="search_input" autocomplete="off" type="text" class="form-control" placeholder="Search" name="search">
              </div>
             </form>
               
            </ul>
        </div>
    </nav>
    <section id="feedSection" class="container-fluid">
    
    </section>
    <footer class="footer">
 
</footer>
    <script src="client-utils.js"></script>
	</body>
</html>
